---
import BaseLayout from "../../layouts/BaseLayout.astro";
import OurTeam from "../../components/OurTeam.astro";
import OurTeamImg from '../../assets/img/teamImg.png'
import LanaImg from '../../assets/img/Lana.png'
import GetStartedPopUp from "../../components/react_components/GetStartedPopUp";
---
<BaseLayout title="Leadin Agency - Insights & Success Stories">
    <section class=" max-w-[1440px] mx-auto py-12 px-4 sm:px-6 lg:px-8">
        <header class=" sm:m-12 m-8 text-center sm:text-4xl lg:text-6xl text-2xl">
            <h2> We help individuals and companies build and grow their digital presence.</h2>
        </header>
    </section>


    <section class="vision-section max-w-[1440px] mx-auto py-12 ">
        <header class="text-center">
            <h2 class="sm:p-12 p-8 sm:text-5xl text-3xl">Our Vision</h2>
        </header>
        <div class="vision-container flex md:flex-row flex-col-reverse lg:gap-12  p-3">
            <div class="flex flex-col md:w-[44%] xl:gap-9 md:gap-6 gap-3 p-6">
                <div class=" text-base lg:text-lg/6 xl:text-xl/8 ">
                    <p>We empower executives and professionals worldwide to unlock the full potential of their personal
                        brands.</p>
                </div>
                <div>
                    <h3 class="text-2xl lg:text-3xl xl:text-4xl py-3">Holistic Approach</h3>
                    <p class="text-base lg:text-lg/6 xl:text-xl/8"> LEADIN's unique approach dives into the emotional
                        depths of personal branding, recognizing that true influence stems from authenticity and
                        emotional resonance.</p>
                </div>
                <div>
                    <h3 class="text-2xl lg:text-3xl xl:text-4xl py-3">Meaningful Connections</h3>
                    <p class="text-base lg:text-lg/6 xl:text-xl/8">By crafting a brand rooted in emotions and
                        aspirations, LEADIN helps clients forge deeper, more meaningful connections that drive real
                        professional growth.</p>
                </div>
                <div>
                    <h3 class="text-2xl lg:text-3xl xl:text-4x py-3">Expert Guidance</h3>
                    <p class="text-base lg:text-lg/6 xl:text-xl/8">LEADIN provides personalized guidance, not just in
                        content creation but also in emotional support and professional development, ensuring clients
                        feel confident navigating the digital landscape.</p>
                </div>
                <div class="xl:pt-20">
                    <GetStartedPopUp buttonText="Build Your personal brand with us" style={{
                        width: '100%',
                        padding: '10px',
                    }} client:only="react" />

                </div>
            </div>
            <div class=" flex md:w-[56%] justify-center items-center ">
                <img class="flex-shrink-0 min-w-full min-h-full" src="/visionImg.png" alt="AboutPage img "/>
            </div>
        </div>
    </section>


    <!-- Our Team cards-->
    <section class="team-section w-full bg-white max-w-[1440px] mx-auto py-12 px-4 sm:px-6 lg:px-8">
        <header class="text-center">
            <h2 class="sm:p-12 p-8 sm:text-5xl text-3xl text-[#000]">Our Team</h2>
        </header>
        <div class="team-section grid sm:grid-cols-3 grid-cols-2 gap-8 place-items-center">
            <OurTeam title="Inessa Manukyan" position="CEO/Founder" followers="4K"
                     href="https://www.linkedin.com/in/inessa-manukyan?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app"
                     src={OurTeamImg}/>
            <OurTeam title="Lana Hakobjanyan" position="Chief Operations Officer " followers="2K"
                     href="#"
                     src={LanaImg}/>
        </div>
    </section>

    <section class="team-section w-full bg-black max-w-[1440px] mx-auto py-24 px-8 sm:px-6 lg:px-10">
        <div class="w-full flex justify-center items-center ">
            <div class="flex flex-col w-fit  justify-center items-center ">
                <div class="">
                    <h3 class=" text-center sm:text-3xl text-2xl text-[#FFF]">Let's create your personal branding
                        together</h3>
                </div>
                <div class="w-full md:pt-8 pt-4">
                    <GetStartedPopUp buttonText="Let's build your brand" style={{
                        width: '100%',
                        border: '1px solid none',
                        color: '#FFF',
                        padding: '10px',
                    }} client:only="react"/>
                </div>

            </div>
        </div>
    </section>
</BaseLayout>