---
import BaseLayout from "../../layouts/BaseLayout.astro";
import OurTeam from "../../components/OurTeam.astro";
---
<BaseLayout title="Leadin Agency - Insights & Success Stories">
    <article class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:px-8">
        <header class="mb-16 text-center">
            <p class="text-lg">
                Discover transformative strategies from real success stories
            </p>
        </header>
        <!-- Our Team cards-->
        <section class="team-section w-full bg-white flex flex-col items-center justify-center text-black">
            <h2 class="text-5xl text-[#000000]">Our Team</h2>
            <div class="team-container w-full max-w-[1440px] flex flex-row flex-wrap justify-center items-center text-center text-white">
                <OurTeam title="Inessa Manukyan" position="CEO/Founder" followers="4k" href="https://www.linkedin.com/in/inessa-manukyan?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app" src="src/assets/img/teamImg.png" />
            </div>
        </section>

    </article>
</BaseLayout>