---
import BaseLayout from '../../layouts/BaseLayout.astro';
import StepByStepPopUp from "../../components/react_components/StepByStepPopUp";
import BlogPagination from "../../components/react_components/BlogPagination";

const { page = 1 } = Astro.params;
const currentPage = typeof page === 'string' ? parseInt(page) : 1;
---

<BaseLayout title="Leadin Agency - Blogs and More"
            description=`Find inspiring blogs in our page`
>
    <section class="max-w-[1440px] mx-auto py-12 px-4 sm:px-6 lg:px-8 bg-[#000] ">
        <header class="mb-16 ">
            <h1 class="text-2xl text-center font-bold md:text-4xl mb-20">
                BLOG
            </h1>
        </header>

        <div class="content flex flex-col">
            <BlogPagination
                    initialPage={currentPage}
                    articlesPerPage={4}
                    client:load
            />
        </div>
    </section>

    <div class="mx-auto py-12 w-full md:w-1/2 px-4">
        <StepByStepPopUp btnText="Let's create your personal branding together" style={{width: '100%'}}
                         client:only="react"/>
    </div>
</BaseLayout>