---
import BaseLayout from '../../layouts/BaseLayout.astro';
import SocialHref from "../../components/SocialHref.astro";
import Vacancies from "../../components/react_components/Vacancies";
import GetInTouchLarge from "../../components/react_components/GetInTouchLarge";
import OpenPositions from "../../components/react_components/OpenPositions";
---
<BaseLayout title=" Contact Us | Start Your Personal Branding Journey with LEADIN"
            description="Ready to elevate your brand? Contact LEADIN to schedule a consultation and start building your presence on LinkedIn and beyond.">

    <section class="max-w-[1440px] mx-auto py-16 px-4 sm:px-6 lg:px-8 bg-[#000] ">
        <header class="text-center">
            <h2 class="sm:p-12 p-8 sm:text-5xl text-3xl font-bold">GET IN TOUCH</h2>
        </header>
        <div class="flex sm:flex-row flex-col gap-8 ">
            <div class="flex flex-1 flex-col ">
                <div><h3 class="sm:text-[40px] leading-10  text-2xl sm:py-12 py-8">Start your personal branding journey today.</h3>
                    <h3 class="sm:text-4xl text-2xl sm:pb-6 py-4">Follow us</h3>
                </div>
                <SocialHref/>
            </div>
            <div class="flex flex-1 w-full flex-col gap-4 text-[#D7D3CE]">
                <GetInTouchLarge client:only="react"/>
            </div>
        </div>
    </section>


    <section class="w-full">
        <div class="sm:bg-[#FFF] max-w-[1440px] mx-auto py-16 px-4 sm:px-6 lg:px-8">
            <header class="text-center">
                <h2 class="sm:p-12 p-8 sm:text-5xl text-2xl sm:text-[#000] font-bold ">OPEN POSITIONS</h2>
            </header>
            <div class="sm:mx-32">
                <p class="text-center sm:text-2xl text-lg sm:text-[#000000]">We're an ambitious group constantly pushing
                    each other to become the best personal branding agency in the world. And we're having a great time doing
                    it. Want to join us? Check out our current opportunities below.</p>
                <OpenPositions client:only="react"/>
            </div>
            <div>
                <Vacancies client:visible/>
            </div>
        </div>

    </section>

</BaseLayout>