---
import BaseLayout from '../../layouts/BaseLayout.astro';
import ReviewCard from "../../components/react_components/ReviewCard"
import UserReview from "../../components/react_components/UserReview"
import ClientSlider from "../../components/ClientSlider.astro";
import Info from "../../components/react_components/Info";
import AnimatedText from "../../components/react_components/AnimatedText";
---
<BaseLayout title="Success Stories with LEADIN"
            description="See how LEADIN has helped professionals and companies transform their brands through strategy, content, and execution. Real results, real impact.">
    <div class="root bg-[#191718] w-full mx-auto">
        <section class="bg-black w-full">
            <div class=" px-10 max-w-[1440px]  mx-auto flex flex-col justify-center items-center h-[calc(100vh-80px)]">
                <div class="flex justify-center items-center w-2/3 flex-1">
                    <h1 class="font-semibold text-[40px] md:text-[60px]">Let's make your personal brand look
                        <AnimatedText client:visible words={["Professional", "Awesome", "Memorable", "Cool", "Powerful"]} />
                    </h1>
                </div>
            </div>
        </section>

        <div class="trusted-clients flex flex-col text-center gap-10 pt-24 pb-10 px-4">
            <h1 class="text-[32px] md:text-[48px] font-bold">OUR CLIENTS</h1>
            <Info client:only="react" />
            <p class="text-md md:text-[24px] font-bold mb-10">Our clients are our top priority, and we are committed to providing them with
                the high level of service</p>
        </div>

        <ClientSlider/>
        <h1 class="text-[32px] md:text-[48px] font-bold text-center my-32 ">CUSTOMER REVIEW</h1>
        <div class="grid items-center lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1 gap-1">
            <ReviewCard client:only="react"/>
        </div>
        <UserReview client:only="react"/>
    </div>
</BaseLayout>