---
import BaseLayout from '../layouts/BaseLayout.astro';
import SubscribePopUp from "../components/react_components/SubscribePopUp";
import PortfolioSlider from "../components/PortfolioSlider.astro";
import ClientSlider from "../components/ClientSlider.astro";
import SocialHref from "../components/SocialHref.astro";
import {Image} from "astro:assets"
import HomeLogo from "/public/logos/HomeLogo.svg"
import ReviewSlider from '../components/react_components/ReviewSlider'
import GetStartedPopUp from "../components/react_components/GetStartedPopUp";
import CardSlider from "../components/react_components/CardSlider";
import Vacancies from "../components/react_components/Vacancies";
import VideoComponent from "../components/react_components/VideoComponent";
import GreetingVideo from "../../public/videos/leadin.mp4"

const reviews = [
    {
        id: 1,
        firstName: "Deren",
        lastName: "Minasyan",
        rate: 5,
        comment: "They helped me define my brand’s mission, values, and personality in a way that was both authentic and compelling. Since working with them, I’ve seen an increase in engagement and customer loyalty."
    },
    {
        id: 2,
        firstName: "Karen",
        lastName: "Grigoryan",
        rate: 5,
        comment: "\"Our social media presence was all over the place before we started working with Leadin. They helped us develop a consistent, engaging social media strategy that reflects our brand’s voice and values."
    },
    {
        id: 3,
        firstName: "Srbui",
        lastName: "Ambartsumian",
        rate: 5,
        comment: "From content calendars to post designs, they made sure everything we shared online reinforced our brand identity. We've noticed a significant increase in followers and engagement since implementing their strategy!"
    },
    {
        id: 4,
        firstName: "Haik",
        lastName: "Khachatryan",
        rate: 5,
        comment: "One of the biggest challenges we faced was creating a consistent brand voice across all our communications. [Your Name] helped us develop a tone that speaks directly to our target audience, making our messaging more engaging and authentic. "
    },
];
---
<BaseLayout title="Leadin Agency - Transform Your Personal Brand">

    <section class="max-w-[1440px] mx-auto py-16 px-4 sm:px-6 lg:px-8 h-[calc(100vh-80px)] flex flex-col gap-5 md:gap-0 md:flex-row">
        <div class="flex flex-col  md:w-1/2 w-full flex-start justify-center">
            <div class="flex flex-col font-bold gap-[30px]">
                <div class="content flex flex-col">
                    <span class="text-4xl md:text-5xl">BUILD YOUR</span>
                    <div>
                        <span class="text-5xl md:text-6xl relative">
                        PERSONAL
                         <span class="absolute text-[15px] md:text-[20px] left-[95%] top-[40%]">CORPORATE</span>
                    </span>
                    </div>
                    <span class="text-6xl md:text-7xl">BRAND</span>
                </div>


                <div class="font-bold flex gap-5 flex-row items-center">
                    <button class="py-2 rounded-[10px]  text-[#FFF] text-md  md:text-xl  border-[#B19482] border-2 basis-1/2">
                        <a href="/services#headerInd">For Individuals</a></button>

                    <button class="py-2 rounded-[10px] text-[#FFF] text-md md:text-xl border-[#B19482] border-2 basis-1/2 ">
                        <a href="/services#headerCom">For Companies</a></button>
                </div>
            </div>
        </div>
        <div class="md:w-1/2 w-full">
            <VideoComponent client:only="react"/>
        </div>

    </section>


    <PortfolioSlider/>

    <!-- Branding cards-->
    <section class="cards-section  lg:max-w-[1440px] max-w-2xl mx-auto py-6 px-4  bg-black my-14">
        <header class="text-center">
            <h2 class="sm:py-12 py-8 xl:text-5xl lg:text-4xl text-3xl font-semibold ">Result-Based Personal
                Branding</h2>
        </header>

        <CardSlider client:only="react"/>


    </section>
    <!--Our Services-->
    <section class="max-w-[1440px] mx-auto py-6 px-4">
        <header class="text-center">
            <h2 class="sm:pb-12 pb-8 font-semibold xl:text-5xl lg:text-4xl text-3xl">Our Services</h2>
        </header>
        <div class="ourServices-conteiner grid  grid-cols-1 lg:grid-cols-3 sm:grid-cols-2 sm:gap-10 gap-5">
            <div class="ourServices  ">
                <h3 class="sm:text-2xl text-xl pb-4 ">Personal Brand Management</h3>
                <p class="text-[#D8D6D6] text-[16px] ">We help professionals build and maintain a strong, authentic
                    personal brand that resonates with their audience and drives meaningful impact.</p>
            </div>
            <div class="ourServices ">
                <h3 class="sm:text-2xl text-xl pb-4">Digital Marketing</h3>
                <p class="text-[#D8D6D6] text-[16px]">We manage social media, run PPC ads, and design marketing
                    campaigns that amplify your online presence and achieve measurable results.</p>
            </div>
            <div class="ourServices">
                <h3 class="sm:text-2xl text-xl pb-4">Marketing Strategy</h3>
                <p class="text-[#D8D6D6] text-[16px]">We develop comprehensive strategies for companies, including
                    vision, mission, market research, and actionable plans to drive growth.</p>
            </div>
            <div class="ourServices ">
                <h3 class="sm:text-2xl text-xl pb-4">Positioning Strategy</h3>
                <p class="text-[#D8D6D6] text-[16px]">We craft personalized positioning strategies to establish your
                    unique identity, build authority, and connect with your ideal audience.</p>
            </div>
            <div class="ourServices ">
                <h3 class="sm:text-2xl text-xl pb-4">Content Creation</h3>
                <p class="text-[#D8D6D6] text-[16px]">We produce engaging ghostwriting, copywriting, video content,
                    photoshoots, and reels for personal brands and companies to captivate and inspire.</p>
            </div>
            <div class="ourServices">
                <h3 class="sm:text-2xl text-xl pb-4">Branding and Design</h3>
                <p class="text-[#D8D6D6] text-[16px]">We create compelling visual identities, logos, and brand designs
                    that reflect the essence and values of your company.</p>
            </div>
        </div>
    </section>

    <section class="max-w-[1440px] mx-auto  ">

        <div class="trusted-clients flex flex-col text-center gap-10 pt-24 pb-10 px-4">
            <h1 class="xl:text-5xl lg:text-4xl text-3xl font-semibold">Trusted by 15+ clients</h1>
            <p class="text-sm md:text-xl">Our clients are our top priority, and we are committed to providing them with
                the high level of service</p>
        </div>
        <ClientSlider/>
    </section>
    <section class="py-10 max-w-[1440px] mb-4 mx-auto">
        <h1 class="text-center sm:py-10 py-5 xl:text-5xl lg:text-4xl text-3xl font-semibold">Customer Reviews</h1>
        <ReviewSlider reviews={reviews} client:only="react"/>
    </section>

    <section class="max-w-[1440px] my-8 mx-auto ">
        <div class="flex flex-col items-center justify-center w-[90%] mx-auto border-[#785B55] border-2 rounded-md p-3 gap-3 md:w-[80%] md:py-8">
            <h2 class="font-semibold md:text-4xl text-xl text-center">Define your personal branding strategy with
                LEADIN</h2>
            <div class="md:w-[60%] w-[90%]">
                <GetStartedPopUp buttonText="Get Started" style={{
                    width: '100%',
                    border: '1px solid none',
                    color: '#FFF',
                    padding: '10px',
                }} client:only="react"/>
            </div>
        </div>
    </section>


    <section class="max-w-[1440px] mx-auto ">
        <div class="sm:flex sm:flex-row hidden pt-10">
            <div class="basis-3/10 w-full flex flex-col ">
                <div class="bg-[#EDE5D9] basis-1/2 h-full text-[#191718] flex  items-center lg:px-10 px-5 xl:text-base lg:text-sm sm:text-xs">
                    <p>Building a personal brand helps professionals establish
                        themselves as thought leaders, enhancing their visibility and authority in their industries.</p>
                </div>
                <div class="bg-[#28241D] basis-1/2 h-full flex items-center lg:px-12 px-6 xl:text-base lg:text-sm sm:text-xs">
                    <p>We believe that personal branding is an intimate
                        exploration of an individual's essence, encompassing their emotions, fears, and aspirations.</p>
                </div>
            </div>
            <div class="basis-3/10 w-full">
                <img alt="HomeStaticImg" class="flex-shrink-0 min-w-full min-h-full" src="staticImg.png">
            </div>
            <div class="basis-4/10  flex flex-col">
                <div class="bg-[#E0D3BD] basis-1/2 h-full text-right lg:text-5xl/[5vh] md:text-4xl text-3xl/10  text-[#191718] p-10">
                    <p class="font-bold xl:ml-40 sm:ml-20">Why Start Building Your Personal Brand With Us?</p>
                </div>
                <div class="w-full flex flex-row basis-1/2 h-full">
                    <div class="basis-7/16 h-full bg-[#B19482] flex items-start p-5 pt-20 xl:text-base lg:text-sm sm:text-xs">
                        <p>Personal brands increase credibility, with
                            professionals who actively build their brands seen as more knowledgeable and
                            approachable.</p>
                    </div>
                    <div class="basis-9/16 h-full bg-[#000] flex items-end p-5 pb-20 xl:text-base lg:text-sm sm:text-xs">
                        <p> Our unique approach combines psychological insight,
                            content strategy, and expert guidance to craft a personal brand that is deeply authentic and
                            compelling.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="flex flex-col sm:hidden">
            <div class="text-right bg-[#EED9C4] p-10 pl-14">
                <h2 class="text-[#191718] text-3xl/10 font-bold">Why Start Building Your Personal Brand With Us?</h2>
                <p class="text-[#000] text-sm/6 ml-6">Personal brands increase credibility, with professionals who
                    actively build their brands seen as more knowledgeableand approachable.</p>
            </div>
            <div>
                <img class="flex-shrink-0 min-w-full min-h-full" alt="HomeStaticImg" src="staticImg.png">
            </div>
            <div class="p-10 bg-[#E0D3BD]">
                <p class="text-[#191718] ">Our expertise in personal branding, marketing, and design ensures excBuilding
                    a personal brand helps professionals establish themselves as thought leaders, enhancing their
                    visibility and authority in their industries.eptional results tailored to your unique needs.</p>
            </div>
            <div class="bg-[#B19482] text-right p-10 py-20">
                <p>We believe that personal branding is an intimate exploration of an individual's essence, encompassing
                    their emotions, fears, and aspirations.
                </p>
            </div>
        </div>

    </section>
    <!--Contact us-->
    <section class="bg-[#191718] max-w-[1440px] mx-auto py-12 px-4">
        <header class="text-center">
            <h2 class="sm:p-12 p-8 xl:text-5xl lg:text-4xl text-3xl font-semibold">Contact Us</h2>
        </header>
        <div class="contact-conteiner flex sm:flex-row flex-col-reverse gap-20 px-10">
            <div class="contact-href  flex flex-1 flex-col sm:gap-8 gap-2">
                <h3 class="sm:text-4xl text-2xl py-4">Do you have any questions?</h3>
                <SocialHref/>
                <SubscribePopUp style={{width: '100%', borderRadius: '6px'}} client:only="react"/>
            </div>
            <div class="contact-send flex flex-1 flex-col gap-4">
                <h3 class="sm:text-4xl text-2xl py-4">Get in touch</h3>
                <div>
                    <input type="email" placeholder="Email"
                           class="w-full p-2 border border-[#D9B99B] rounded-md focus:ring-2  bg-[#191718]"/>
                </div>
                <div class="flex  h-full ">
                    <textarea placeholder="Text"
                              class=" start-0 w-full border p-2 border-[#D9B99B] rounded-md focus:ring-2 bg-[#191718]"></textarea>
                </div>
                <div>
                    <button class="bg-[#B19482] py-2 rounded-md w-full hover:bg-[#8D705D] text-white focus:-scale-30">
                        Send
                    </button>
                </div>
            </div>
        </div>
    </section>
    <section class="max-w-[1440px] mx-auto py-16 px-4 sm:px-6 lg:px-8 bg-[#FFF] ">
        <h1 class="font-semibold  text-[40px] text-black text-center mb-10 lg:mb-20">Join Us</h1>
        <Vacancies client:only="react"/>
    </section>
</BaseLayout>