---
import BaseLayout from '../layouts/BaseLayout.astro';

import Footer from '../components/Footer.astro';
import BrandingCard from "../components/BrandingCard.astro";
import OurTeam from "../components/OurTeam.astro";
import Get_started from "../components/pop_ups/get_started.astro";
import Subscribe from "../components/pop_ups/subscribe.astro";
import OpenVac from "../components/OpenVac.astro";
import NoVac from "../components/NoVac.astro";
import SocialHref from "../components/SocialHref.astro";
---
<BaseLayout title="Leadin Agency - Transform Your Personal Brand">

    <section class="max-w-7xl mx-auto py-16 px-4 sm:px-6 lg:px-8">
        <div class="flex flex-col justify-between items-center gap-14">
            <div><img alt="Home logo" src="/logos/HomeLogo.svg"></div>
            <div><h2 class="text-4xl">We are ready to lead your personal brand to success.</h2></div>
            <div>
                <Get_started/>
            </div>
        </div>
    </section>

    <!-- Branding cards-->
    <section class="cards-section  lg:max-w-7xl max-w-2xl mx-auto py-12 px-4  bg-black my-28">
        <header class="text-center">
            <h2 class="sm:p-12 p-8 sm:text-5xl text-3xl ">Result-Based Personal Branding</h2>
        </header>
        <div class="grid lg:grid-cols-2  grid-cols-1 gap-6 ">
            <BrandingCard title="Telecom" subTitle="Personal Branding on LinkedIn" src="/telecom.png"
                          heading="How Joe Had A Record Month Using His Personal Brand"/>
            <BrandingCard title="Nutrition" subTitle="Blogging on Instagram" src="/nutrition.png"
                          heading="How Joe Had A Record Month Using His Personal Brand"/>
            <BrandingCard title="Health" subTitle="Blogging on Instagram" src="/health.png"
                          heading="How Joe Had A Record Month Using His Personal Brand"/>
            <BrandingCard title="Tech" subTitle="Personal Branding on LinkedIn" src="/tech.png"
                          heading="How Joe Had A Record Month Using His Personal Brand"/>
        </div>
    </section>
    <!--Our Services-->
    <section class="max-w-7xl mx-auto py-12 px-4">
        <header class="text-center">
            <h2 class="sm:p-12 p-8 sm:text-5xl text-3xl ">Our Services</h2>
        </header>
        <div class="ourServices-conteiner grid  grid-cols-1 lg:grid-cols-3 sm:grid-cols-2 gap-2">
            <div class="ourServices  ">
                <h3 class="text-2xl pb-4 ">Personal Brand Management</h3>
                <p class="text-[#D8D6D6] text-[16px] ">We help professionals build and maintain a strong, authentic
                    personal brand that resonates with their audience and drives meaningful impact.</p>
            </div>
            <div class="ourServices ">
                <h3 class="text-2xl pb-4">Digital Marketing</h3>
                <p class="text-[#D8D6D6] text-[16px]">We manage social media, run PPC ads, and design marketing
                    campaigns that amplify your online presence and achieve measurable results.</p>
            </div>
            <div class="ourServices">
                <h3 class="text-2xl pb-4">Marketing Strategy</h3>
                <p class="text-[#D8D6D6] text-[16px]">We develop comprehensive strategies for companies, including
                    vision, mission, market research, and actionable plans to drive growth.</p>
            </div>
            <div class="ourServices ">
                <h3 class="text-2xl pb-4">Positioning Strategy</h3>
                <p class="text-[#D8D6D6] text-[16px]">We craft personalized positioning strategies to establish your
                    unique identity, build authority, and connect with your ideal audience.</p>
            </div>
            <div class="ourServices ">
                <h3 class="text-2xl pb-4">Content Creation</h3>
                <p class="text-[#D8D6D6] text-[16px]">We produce engaging ghostwriting, copywriting, video content,
                    photoshoots, and reels for personal brands and companies to captivate and inspire.</p>
            </div>
            <div class="ourServices">
                <h3 class="text-2xl pb-4">Branding and Design</h3>
                <p class="text-[#D8D6D6] text-[16px]">We create compelling visual identities, logos, and brand designs
                    that reflect the essence and values of your company.</p>
            </div>
        </div>
    </section>

    <section class="max-w-7xl mx-auto  ">
        <div class="sm:flex sm:flex-row hidden">
            <div class="basis-3/10 w-full flex flex-col ">
                <div class="bg-[#EDE5D9] basis-1/2 h-full text-[#191718] flex  items-center lg:px-10 px-5 xl:text-base lg:text-sm sm:text-xs"><p>Building a personal brand helps professionals establish
                    themselves as thought leaders, enhancing their visibility and authority in their industries.</p>
                </div>
                <div class="bg-[#28241D] basis-1/2 h-full flex items-center lg:px-12 px-6 xl:text-base lg:text-sm sm:text-xs"><p>We believe that personal branding is an intimate
                    exploration of an individual's essence, encompassing their emotions, fears, and aspirations.</p>
                </div>
            </div>
            <div class="basis-3/10 w-full">
                <img alt="HomeStaticImg" src="staticImg.png">
            </div>
            <div class="basis-4/10  flex flex-col">
                <div class="bg-[#E0D3BD] basis-1/2 h-full text-right lg:text-3xl xl:text-5xl sm:text-2xl text-[#191718] p-10">
                    <p class="font-bold xl:ml-40 sm:ml-20">Why Strat Building Your Personal Brand With Us?</p>
                </div>
                <div class="w-full flex flex-row basis-1/2 h-full">
                    <div class="basis-7/16 h-full bg-[#B19482] flex items-start p-5 pt-20 xl:text-base lg:text-sm sm:text-xs"><p>Personal brands increase credibility, with
                        professionals who actively build their brands seen as more knowledgeableand approachable.</p>
                    </div>
                    <div class="basis-9/16 h-full bg-[#000] flex items-end p-5 pb-20 xl:text-base lg:text-sm sm:text-xs"><p> Our unique approach combines psychological insight,
                        content strategy, and expert guidance to craft a personal brand that is deeply authentic and
                        compelling.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="flex flex-col sm:hidden">
            <div class="text-right bg-[#EED9C4] p-10 pl-14">
                <h2 class="text-[#191718] text-3xl/10 font-bold">Why Strat Building Your Personal Brand With Us?</h2>
                <p class="text-[#000] text-sm/6 ml-6">Personal brands increase credibility, with professionals who actively build their brands seen as more knowledgeableand approachable.</p>
            </div>
            <div>
                <img alt="HomeStaticImg" src="staticImg.png">
            </div>
            <div class="p-10 bg-[#E0D3BD]">
                <p class="text-[#191718] ">Our expertise in personal branding, marketing, and design ensures excBuilding a personal brand helps professionals establish themselves as thought leaders, enhancing their visibility and authority in their industries.eptional results tailored to your unique needs.</p>
            </div>
            <div class="bg-[#B19482] text-right p-10 py-20">
                <p >We believe that personal branding is an intimate exploration of an individual's essence, encompassing their emotions, fears, and aspirations.
                </p>
            </div>
        </div>

    </section>


    <!--Contact us-->
    <section class="bg-[#191718] max-w-7xl mx-auto py-12 px-4">
        <header class="text-center">
            <h2 class="sm:p-12 p-8 sm:text-5xl text-3xl ">Contact Us</h2>
        </header>
        <div class="contact-conteiner flex sm:flex-row flex-col-reverse gap-4 px-10">
            <div class="contact-href  flex flex-1 flex-col sm:gap-8 gap-2">
                <h3 class="sm:text-4xl text-2xl p-4">Get in touch </h3>
                <SocialHref/>
                <Subscribe/>
            </div>
            <div class="contact-send flex flex-1 flex-col gap-4">
                <h3 class="sm:text-4xl text-2xl p-4">Do you have any questions?</h3>
                <div>
                    <input type="email" placeholder="Email"
                           class="w-full p-2 border border-[#D9B99B] rounded-md focus:ring-2  bg-[#191718]"/>
                </div>
                <div class="flex  h-full ">
                    <textarea placeholder="Text"
                              class=" start-0 w-full border p-2 border-[#D9B99B] rounded-md focus:ring-2 bg-[#191718]"></textarea>
                </div>
                <div>
                    <button class="bg-[#B19482] py-2 rounded-md w-full">Send</button>
                </div>
            </div>
        </div>
    </section>


    <section class="max-w-7xl mx-auto py-16 px-4 sm:px-6 lg:px-8 bg-[#FFF]">
        <OpenVac/>
        <NoVac/>
    </section>
    <section class="max-w-7xl mx-auto py-16 px-4 sm:px-6 lg:px-8">
    </section>


</BaseLayout>