---
import BaseLayout from '../layouts/BaseLayout.astro';
import PortfolioSlider from '../components/PortfolioSlider.astro';
---
<BaseLayout title="Leadin Agency - Transform Your Personal Brand">

    <section class="max-w-7xl mx-auto py-16 px-4 sm:px-6 lg:px-8">
        <div class="text-center mb-12">
            <h2 class="text-3xl font-bold mb-4">
                Beyond Surface-Level Branding
            </h2>
            <p class="max-w-2xl mx-auto">
                We specialize in intimate exploration of personal essence, helping clients
                transform their fears into strengths and aspirations into reality.
            </p>
        </div>
    </section>
    <section class="max-w-7xl mx-auto py-16 px-4 sm:px-6 lg:px-8 bg-[#FFF]">
        <div class="NoVac  justify-center bg-[#FFF] border-[#785B55] border-2 rounded-md ">
            <div class="NoVacanciesContent my-4 flex flex-col items-center">
                <h2 class="text-4xl font-semibold py-6 text-[#000000] font-Raleway">
                    We currently have no vacancies at this time.
                </h2>
                <p class="text-2xl text-[#000000] pb-8">
                    In the meantime, follow us on
                </p>
                <button class="btn  border-[#785B55] border-2 text-[#000000] rounded-md px-20 py-1">LinkedIn</button>
            </div>
        </div>

    </section>
    <section class="max-w-7xl mx-auto py-16 px-4 sm:px-6 lg:px-8 bg-[#FFF]">
        <div class="OpenVac flex flex-col justify-center bg-[#000000] max-w-md">
            <div class="vacanciesContent flex flex-col items-center p-10 text-center" >
                <h2 class="text-2xl text-[#FFF]">Personal Branding Specialist </h2>
                <p class="text-x text-[#FFF] py-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                <button class=" bg-[#B19482] text-[#FFF] px-32 py-2 w-full">LeadIn</button>
            </div>
        </div>
    </section>
    <section class="max-w-7xl mx-auto py-16 px-4 sm:px-6 lg:px-8">
        <PortfolioSlider/>
    </section>




</BaseLayout>