---
const { title, content, img, number } = Astro.props;
import { Image } from 'astro:assets';
const isEven = number % 2 === 0;
---

<section class="mb-16 blog_section">
    <article class="grid grid-cols-1 md:grid-cols-2 gap-5">
        <div class={`blog_content py-4 flex-1 sm:order-1 ${isEven ? 'md:order-2' : 'md:order-1'}`}>
            <h2 class="text-2xl font-bold mb-6">{title}</h2>
            <p class="blog_text text-lg">
                {content}
            </p>
        </div>
        <div class={`flex-1 order-2 ${isEven ? 'md:order-1' : 'md:order-2'}`}>
            <Image src={img} alt="Blog Post Image" class="align-self-center"/>
        </div>
    </article>
</section>