---
const { title, subTitle,heading,src } = Astro.props;

---
<div class="cards-container flex flex-row rounded-xl  overflow-hidden ">
    <div class="basis-2/5 relative text-[#FFF] ">
        <img class="flex-shrink-0 min-w-full min-h-full" src={src}>
        <div class="absolute bottom-4 left-4">
            <h3 class="card-name  font-semibold text-xs sm:text-xl">{title}</h3>
            <p class="text-[10px] sm:text-[16px]">{subTitle}</p>
        </div>
    </div>
    <div class="card-content basis-3/5 flex justify-center items-center bg-[#FFF] text-[#000000] sm:p-6 p-2 w-full">
        <div>
            <h3 class="font-bold pb-2 xl:text-xl lg:text-lg sm:text-base text-[13px]">{heading}</h3>
            <p class="xl:text-lg lg:text-base sm:text-[13px] text-[11px]">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
        </div>
    </div>
</div>