---
import ClientCarousel from './react_components/ClientCarousel.tsx';
import '../styles/global.css';
import React from "react";

const imageModules = import.meta.glob("/public/clients/*");
const images = Object.keys(imageModules);
---

<div class="flex flex-col items-center">
    <h1 class="text-3xl">Our Clients</h1>
    <ClientCarousel logos={images} client:only="react" />
</div>

