---
import CompanyCarousel from "./react_components/CompanyCarousel";
import React from "react";


const imageModules = import.meta.glob("/public/companies/*");
const imagePaths = Object.keys(imageModules).map((path) =>
    path.replace(/^\/public/, "")
);

---

<div class="flex flex-col items-center">
    <h1 class="text-[30px] text-black md:text-[48px] font-semibold mt-20 mb-10">Companies</h1>
    <CompanyCarousel logos={imagePaths} client:only="react" />
</div>

