---
import PrivacyPolicyPopUp from "./react_components/pop_ups/PrivacyPolicyPopUp";
import TermsPopUp from "./react_components/pop_ups/TermsPopUp";
import CookiePolicyPopUp from "./react_components/pop_ups/CookiePopUp";

const currentYear = new Date().getFullYear();
---
<footer class="bg-[#EED9C4] p-4 md:py-6 md:px-[40px]">
    <div class="w-full  py-12 px-0 md:px-4 lg:px-6  max-w-[1440px] mx-auto flex justify-center ">
        <div class="grid grid-cols-[0.5fr_0.5fr_1.3fr] md:grid-cols-[2fr_1fr_1fr_2fr] gap-4 md:gap-6 w-fit">
            <div class="order-3 md:order-none">
                    <ul class="lg:text-lg sm:text-sm xs:text-xs">
                        <li class="pb-1"><a class="flex gap-1 cursor-pointer "><img class="invert self-start" src="/icons/InstagramLogo.svg"><span class="underline-offset-2 underline">leadin.agency</span></a></li>
                        <li class="pb-1"><a class="flex gap-1 cursor-pointer "><img class="invert self-start"  src="/icons/At.svg"><span class="underline-offset-2 underline">hello@leadin.agency</span></a></li>
                        <li><a class="flex gap-1 cursor-pointer "><img class="self-start" src="/icons/icons8-linkedin.svg"><span class="underline-offset-2 underline">LEADIN Personal Branding Agency</span></a></li>
                    </ul>

            </div>
            <div class="order-1 md:order-none">
                <ul class="lg:text-lg sm:text-sm xs:text-xs">
                    <li><a href="/home" class="text-black-600 ">Home</a></li>
                    <li><a href="/clients" class="text-black-600 ">Clients</a></li>
                    <li><a href="/services" class="text-black-600 ">Services</a></li>
                </ul>
            </div>

            <div class="order-2 md:order-none">
                <ul class="lg:text-lg sm:text-sm">
                    <li><a href="/about" class="text-black-600 ">About us</a></li>
                    <li><a href="/connect" class="text-black-600">Connect</a></li>
                    <li><a href="/blog" class="text-black-600">Blog</a></li>
                </ul>
            </div>

            <div class="hidden md:block ">
                <div class="flex flex-col gap-4">
                    <h3 class="text-xl text-bold">About the company</h3>
                    <div class="text-black-500 text-[13px]">
                        <p>LEADIN is not just a personal branding agency; it's a journey of self-discovery and
                            transformation. Unlike traditional PR approaches, we go beyond surface-level image
                            projection. We believe that personal branding is an intimate exploration of an individual's
                            essence, encompassing their emotions, fears, and aspirations.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="flex gap-5 justify-between w-full  px-0 md:px-4 lg:px-6  max-w-[1440px] mx-auto text-[14px] md:text-[16px] lg:text-[18px] font-medium flex-col md:flex-row">
        <div>
            <p class="text-center">© COPYRIGHT {currentYear} LEADIN Personal Branding Agency
            </p>
        </div>
        <div class="w-full md:w-fit flex justify-center">
            <ul class="flex justify-between gap-4">
                <li><TermsPopUp client:only="react" /></li>
                <li><PrivacyPolicyPopUp client:only="react" /></li>
                <li><CookiePolicyPopUp client:only="react" /></li>
            </ul>
        </div>
    </div>
</footer>