---
---
<div class="OpenVac flex flex-col justify-center bg-[#000000] max-w-md">
    <div class="vacanciesContent flex flex-col items-center p-10 text-center">
        <h2 class="text-2xl text-[#FFF]">Personal Branding Specialist </h2>
        <p class="text-x text-[#FFF] py-2">Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
        <button class=" bg-[#B19482] text-[#FFF] px-32 py-2 w-full">LinkedIn</button>
    </div>
</div>