---

---
<div class="NoVac  justify-center sm:bg-[#FFF] border-[#785B55] border-2 rounded-md bg-[#000] ">
    <div class="NoVacanciesContent my-6 flex flex-col  items-center">
        <h2 class="sm:text-4xl text-xl text-center font-semibold sm:py-6 py-3 sm:text-[#000000]">
            We currently have no vacancies at this time.
        </h2>
        <p class="sm:text-2xl text-lg sm:text-[#000] pb-3 sm:pb-8">
            In the meantime, follow us on
        </p>
        <button class="btn  border-[#785B55] border-2 sm:text-[#000000] bg-[#000] sm:bg-[#FFF] rounded-md px-20 py-1">LinkedIn</button>
    </div>
</div>
