---
import Portfolio from "./react_components/Portfolio.tsx";

const image_paths = import.meta.glob("/public/portfolio/*");

const imagePaths = Object.keys(image_paths).map((path) =>
    path.replace(/^\/public/, "")
);
const concat = imagePaths.concat(imagePaths).concat(imagePaths);
console.log(imagePaths)
---
<div class="flex flex-col items-center">
    <h1 class="sm:p-12 p-8 sm:text-5xl text-[3vh]">Our Portfolio</h1>
    <Portfolio slides={concat} client:only="react" />
</div>



