---
import Portfolio from "./react_components/Portfolio.tsx";

const image_paths = import.meta.glob("/portfolio/*");

const images = Object.keys(image_paths);
const concat = images.concat(images).concat(images);
---
<div class="flex flex-col items-center">
    <h1 class="text-3xl">Our Portfolio</h1>
    <Portfolio slides={concat} client:load />
</div>



