---
import Portfolio from "./react_components/Portfolio.tsx";

const image_paths = import.meta.glob("/public/portfolio/*");

const imagePaths = Object.keys(image_paths).map((path) =>
    path.replace(/^\/public/, "")
);
const concat = imagePaths.concat(imagePaths).concat(imagePaths);
---
<div class="flex flex-col items-center max-w-[1440px] mx-auto">
    <h1 class="text-3xl p-16">Our Portfolio</h1>
    <Portfolio slides={concat} client:only="react" />
</div>



