---

---
<div class="review-card w-[350px] h-[350px] bg-gray-700 rounded-[20px]">
    <div class="custom-shape-divider-top-1739452682">
        <svg
                class="w-full"
                viewBox="100 30 310 50"
                xmlns="http://www.w3.org/2000/svg"
        >
            <path d="M112,20 C175,69 321,68 399,24 Z" />

        </svg>
    </div>
</div>


<style>
    .custom-shape-divider-top-1739452682 {
        width: 100%;
        line-height: 0;
    }




</style>