---

---
<div class=" flex flex-col sm:gap-8 gap-2">
    <div class="flex lg:text-[20px] xl:text-[25px] sm:text-[18px] text-[14px]  items-center">
        <div class="pr-4">
            <a href="https://www.instagram.com/leadin.agency/" target="_blank"> <img src="/icons/InstagramLogo.svg" ></a>
        </div>
        <div>
            <a href="https://www.instagram.com/leadin.agency/" class="underline underline-offset-2  " target="_blank">leadin.agency</a>
        </div>
    </div>
    <div class="flex lg:text-[20px] xl:text-[25px] sm:text-[18px] text-[14px] items-center">
        <div class="pr-4">
            <a href="#" class=""> <img src="/icons/At.svg"></a>
        </div>
        <div>
            <a href="#" class="underline underline-offset-2" target="_blank">hello@leadin.agency</a>
        </div>
    </div>
    <div class="flex lg:text-[20px] xl:text-[25px] sm:text-[18px] text-[14px] items-center">
        <div class="pr-4">
            <a href="https://www.linkedin.com/feed/" target="_blank"> <img src="/icons/icons8-linkedin.svg" class="invert"></a>
        </div>
        <div>
            <a href="https://www.linkedin.com/feed/" class="underline underline-offset-2 " target="_blank">LEADIN Personal Branding Agency</a>
        </div>
    </div>
</div>
