---

---
<div class=" flex flex-col xl:text-2xl lg:text-xl sm:text-lg text-base sm:gap-4 gap-2">
    <div class="flex items-center">
        <div class="pr-4">
            <a href="https://www.instagram.com/leadin.agency/" target="_blank"> <img src="/icons/InstagramLogo.svg" ></a>
        </div>
        <div>
            <a href="https://www.instagram.com/leadin.agency/" class="underline underline-offset-2  " target="_blank">leadin.agency</a>
        </div>
    </div>
    <div class="flex  items-center">
        <div class="pr-4">
            <a href="#" class=""> <img src="/icons/At.svg"></a>
        </div>
        <div>
            <a href="#" class="underline underline-offset-2" target="_blank">hello@leadin.agency</a>
        </div>
    </div>
    <div class="flex  items-center">
        <div class="pr-4">
            <a href="https://www.linkedin.com/company/leadinpersonalbrandingagency/?viewAsMember=true" target="_blank"> <img src="/icons/icons8-linkedin.svg" class="invert"></a>
        </div>
        <div>
            <a href="https://www.linkedin.com/company/leadinpersonalbrandingagency/?viewAsMember=true" class="underline underline-offset-2 " target="_blank">LEADIN Personal Branding Agency</a>
        </div>
    </div>
</div>
