---
import BaseLayout from '../../layouts/BaseLayout.astro';
import PortfolioSlider from '../../components/PortfolioSlider.astro';
import ClientSlider from '../../components/ClientSlider.astro';
---
<BaseLayout title="Leadin Agency - Insights & Success Stories">
    <main class="max-w-7xl mx-auto">
        <PortfolioSlider/>
        <ClientSlider/>
    </main>


</BaseLayout>